@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat.ttf') format('truetype');
    font-weight: 650;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.ttf') format('truetype');
    font-weight: 450;
}

