/* Footer styling */
footer {
    /*background-color: var(--color-secondary);*/
    background: var(--color-dark);
    color: var(--color-light);
    text-align: center;
    padding: var(--spacing-lg) var(--spacing-lg);
    margin-top: var(--spacing-xl);
    position: relative;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    font-weight: 350;
}

.footer-logo {
    position: relative;
    top: 20px; /* Adjusts the logo position */
    margin: 0 auto;
    width: 400px;
    height: auto;
    margin: 0;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: var(--spacing-lg);
    margin: var(--spacing-lg) 0;
}

.footer-nav a {
    color: var(--color-light);
    text-decoration: none;
    transition: var(--transition);
}

.footer-nav a:hover {
    color: var(--color-accent);
}


